<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117653251056-1c1k9nrvalqm0um1d4jdibqhbtqcl2o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117653251056-1c1k9nrvalqm0um1d4jdibqhbtqcl2o7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>117653251056-vqvfqdbc9gtbead1ag8bh7ivjfbn5qvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuCMaf57yGsNFsagYeHGXWQi320n5JAvs</string>
	<key>GCM_SENDER_ID</key>
	<string>117653251056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.Froker</string>
	<key>PROJECT_ID</key>
	<string>froker-265f9</string>
	<key>STORAGE_BUCKET</key>
	<string>froker-265f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117653251056:ios:f0c67ad2e772038532b335</string>
</dict>
</plist>